/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.container.dark {
  background-color: #282D35;
  color: white;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: white;
  display: inline;
}

/* Sidebar Styles */
nav {
  padding: 10px;
  height: 100%;
  width: 16%;
  box-shadow: 0px 1px 4px white;
  z-index: 1000;
  flex-shrink: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  transition: left 0.3s ease;
}

.dark h1 {
  font-family: 'Cyberpunk Is Not Dead', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.navbar a img {
  width: 20px;
  margin-right: 10px;
}

.navbar a p {
  margin: 0;
}

.navbar input {
  display: block;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: #181818;
  color: #fff;
}

nav.dark {
  background-color: black;
  color: white;
  border-right: 1px solid whitesmoke;
}

.ml--logo {
  width: 80px;
}

.dropcommunity-toggle {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.dropcommunity-toggle img {
  margin-right: 10px;
}

.dropcommunity-menu {
  transition: max-height 2s ease-out, opacity 2s ease-out;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-left: 2.1rem;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
}

/* .hamburger span {
  display: block;
  height: 3px;
  width: 25px;
  background-color: aqua;
  margin: 4px;
  transition: all 0.3s;
}

.sidebar-open .hamburger span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.sidebar-open .hamburger span:nth-child(2) {
  opacity: 0;
}

.sidebar-open .hamburger span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
} */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }

  nav {
    position: fixed;
    top: 0;
    width: 70%;
    left: -100%;
    height: 100%;
    background-color: black;
    transition: left 0.3s ease;
    z-index: 999;
  }

  .sidebar-open nav {
    left: 0;
  }

}



/* showcase Styles */

.hub {
  flex: 1; 
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  background-color: black; 
  padding: 10px;
  color: #F5F5F5;
  overflow-y: auto;
  box-sizing: border-box;
}

.hub.dark {
  background-color: black; 
  color: #F5F5F5;
}

.drops-downs {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
  
}

.drops-downs img{
  width: 40px;
}

.drops-downs > * {
  margin-left: 10px; 
  cursor: pointer;
}

.drops-downs > *:first-child {
  margin-left: 0; /* Remove margin for the first child */
}

.drops-downs > * {
  padding: 5px;
  background-color: black;
}


.hub-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.3s, border 0.3s; /* Smooth hover effect for border and scale */
  border-radius: 10px; 
}

.hub.dark .hub-image {
  border: 2px solid #ffffff; 
}

.hub-image:hover {
  transform: scale(1.05); /* Slightly enlarges the image on hover */
  border-color: #f5f5f5; /* Changes border color on hover */
}

.hub-description {
  width: 100%;
  text-align: start;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #d3d3d3; /* Slightly lighter color for the description */
}

h2 {
  display: flex;
  justify-content: center; /* Centers the heading */
  width: 100%;
  margin: 20px 0;
  font-size: 1.5rem; /* Larger font size for the heading */
  border-bottom: 1px solid #f5f5f5; /* Underline for the heading */
  padding-bottom: 10px; /* Adds padding below the heading */
}

/* window styles */
.main-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181818;
  color: white;
  padding: 20px;
  box-shadow: 0px 1px 4px white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.close-button {
  align-self: flex-end;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: -10px;
  border-radius: 6px;
}

.window {
  background-color: #181818;
  color: white;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(226, 198, 198, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.nft-block {
  margin-top: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.window--img {
  width: 50%;
  margin-right: 1rem;
}

.nft--info {
  width: 50%;
}

.traits-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0.5rem;
}

.traits-container span {
  padding-left: 4px;
  background-color: black;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  width: 45%;
}

.download-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.download-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.download-container span {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  margin: 4px;
}


.download-block img {
  width: 20px;
  margin-left: 3px;
}


.links-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.opensea-link, .model-preview {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.opensea-link img, .model-preview img {
  width: 20px;
  margin-right: 10px;
}


.nft--index{
  margin-bottom: 0.5rem;
}

.traits{
  margin-bottom: 0.5rem;
}

.nekito, .traits, .name-of-traits, .downloads{
  color: gray;
}


@media (max-width: 768px) {
  .drops-downs {  
      flex-wrap: wrap; 
      justify-content: center;
  }

  .drops-downs img {
      width: 30px; 
  }

  .drops-downs > * {
      
      margin: 5px; 
      padding: 5px;
  }

  .drops-downs > *:last-child {
      margin-bottom: 0; 
  }
  .main-popup {
    position: fixed;
    top: 5em;
    left: 2em;
    bottom: 2em;
    transform: translate(-10%, -10%);
    height: 80%;
  
  }

  .window{
    height: 100%;
  }

  .download-block {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
      width: 100%;
  }

  .download-container {
      width: 100%;
      grid-template-columns: 1fr; 
      gap: 10px;
  }

  .links-container {
      position: relative;
      width: 100%;
      bottom: auto;
      right: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px; 
  }
}

.glitch {
  font-size: 1.5rem;
  color: #fff;
  animation: glitch 0.5s linear infinite;
}

@keyframes glitch {
  0%, 100% {
    text-shadow: -2.5px -2.5px 0 #6b0b7c, 
            2.5px 2.5px 0 rgb(0, 255, 255);
  }
  25% {
    text-shadow: 2.5px 2.5px 0 #470970, 
            -2.5px -2.5px 0 rgb(0, 255, 255);
  }
  50% {
    text-shadow: 2.5px -2.5px 0 #4b0981, 
            -2.5px 2.5px 0 rgb(0, 255, 255);
  }
  75% {
    text-shadow: 2.5px 2.5px 0 #ffee00, 
            2.5px -2.5px 0 rgb(0, 255, 255);
  }
}

/* clevermissfox changes */
.btn-open-menu { display: none;}

@media (max-width: 768px) {


  .btn-open-menu {
    display: grid;
    gap: 0.25em;
    position: absolute;
    padding: 0.5rem;
    top: 1em;
    left: 1em;
    border: 0; 
    background: transparent;
    font: inherit;

    & > span {
      display: block;
      height: 3px;
      width: 25px;
      background-color: aqua;
      transition: all 0.3s;
    }
  }

    /* Hamburger menu styles */
    .hamburger {
      --bar-width: 25px;
      --bar-height: 3px;
      --hamburger-gap: 10px;
      --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
      --x-width: calc(var(--hamburger-height) * 1.41421356297);
    
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: var(--hamburger-gap);
      margin: 10px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 999;
    }

  nav {
    position: fixed;
    top: 0;
    width: 70%;
    left: -100%;
    height: 100%;
    background-color: black;
    transition: left 0.3s ease;
    z-index: 999;
  }

  .sidebar-open {
    left: 0;
    width: min(100%, 300px);

    & input[type=text] {
      width: min(100%, 12rem);
    }
  }
    
    .hamburger span {
      display: block;
      height: var(--bar-height);
      width: var(--bar-width);
      background-color: aqua;
      transform-origin: left center;
      transition: all 0.3s;
    }
    
     .sidebar-open .hamburger span:nth-child(1) {
      transform: rotate(45deg) translateY(calc(var(--bar-height) / -2));
      width: var(--x-width);
    }
    
     .sidebar-open .hamburger span:nth-child(2) {
      opacity: 0;
    }
    
     .sidebar-open .hamburger span:nth-child(3) {
      transform: rotate(-45deg) translateY(calc(var(--bar-height) / 2));  
      width: var(--x-width);
    }
}